#channels {
  z-index: 2;
  display: block;
  position: fixed;
  padding-top: 70px;
  width: 265px;
  height: 100vh;
  background-color: #1f1f23;
}

/*FOR YOU*/
/* FOLLOW CHANNELS */

.title-channels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.title-channels > svg {
  width: 30px;
  filter: invert(1);
  padding: 5px;
  border-radius: 5px;
}

.title-channels > svg:hover{
  background-color: #34343b2c;
}



/* LIST CHANNELS */

.hide-icons-channel {
  display: none !important;
  width: 20px;
  margin: auto;
  filter: invert(0.6);
}

.logo-channels {
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 50%;
  margin: 0 10px;
}

.channels-list {
  display: flex;
  flex-direction: column;
}

/*channel*/
.channels-list > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
}

/*afficher plus*/

.channels-list > li:last-child > p:hover {
  text-decoration: underline;
}
.channels-list > li:last-child > p {
  padding: 10px;
  font-size: 12px;
  color: #A46AF8;
}

.channels-list > li:hover:not(:last-child) {
  background-color: #26262c;
}
/*logo / pseudo + deco*/
.channels-list > li > * {
  color: #dedee3;
  display: flex;
  align-items: center;
  width: 100%;
}

/*Déconnecté(e)*/
.channels-list > li > h6 {
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  #channels {
    width: 50px;
  }
  .channels-list > li > h6,
  .channels-list > li > div > h5,
  .title-channels,
  .channels-list > li:last-child
  {
    display: none;
  }
  .channels-list > li:hover:not(:last-child) {
  background-color: transparent;
}
.hide-icons-channel {
  display: block !important;
}
}
